<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
    <h2>Welcome to Management App</h2>
    <p> A Management app that helps you to manage your profiles from anywhere </p>
  </ion-slide>
 <ion-slide>
    <h2>How to use</h2>
    <ol>
        <li>If you are new to the management app then create a account by Email ID</li>
        <li>Existing user Enter your credentials for login</li>
        <li>For options </li> 
    </ol>
  </ion-slide>
  <ion-slide>
    <h2>Our Team</h2>
    <p>Application Manager : Pratik Kadoli</p>
    <p>Application Developer : Prathmesh Holay</p>
  </ion-slide>
</ion-slides>
